@charset "UTF-8";
.fa-map-marker-alt {
  color: #E84233;
}

body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#E0F0F8), to(#3C8FD1));
  background: linear-gradient(#E0F0F8, #3C8FD1);
}

body main {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

body main .topPage {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body main .topPage .countyWeather {
  border-radius: 10px;
  background: rgba(5, 137, 245, 0.37);
}

body main .topPage .countyWeather .countySearch label {
  display: none;
  position: relative;
  left: 15%;
  margin-top: 10px;
}

body main .topPage .countyWeather .countySearch label select {
  border-radius: 5px;
  background: seashell;
}

body main .topPage .countyWeather .countyWxPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

body main .topPage .countyWeather .countyWxPage .wxPage1 {
  width: 30%;
  margin-left: 5%;
  height: 180px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

body main .topPage .countyWeather .countyWxPage .wxPage1 .wxPageImg {
  position: relative;
  margin: auto;
}

body main .topPage .countyWeather .countyWxPage .wxPage1 .wxPageImg img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
}

body main .topPage .countyWeather .countyWxPage .wxPage2 {
  width: 50%;
  margin-left: 5px;
  height: 180px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

body main .topPage .countyWeather .countyWxPage .wxPage2 div {
  margin-top: 10px;
  margin-left: 15px;
}

body main .topPage .countyWeather .countyWxPage .wxPage2 div li {
  list-style: none;
  margin-top: auto;
  margin-left: 0;
}

body main .topPage .sunnyDoll {
  right: 0;
  position: absolute;
}

body main .topPage .sunnyDoll img {
  width: 300px;
  height: 300px;
}

body main .mainPage {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body main .mainPage .searchBar {
  display: block;
  position: relative;
  left: 10%;
  height: 25px;
}

body main .mainPage .searchBar label select {
  border-radius: 5px;
  background: seashell;
}

body main .mainPage .weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

body main .mainPage .weather .weatherWrap {
  width: 40%;
  margin-left: auto;
  background: rgba(11, 55, 173, 0.2);
  border-radius: 10px;
}

body main .mainPage .weather .weatherWrap .weatherImg img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

body main .mainPage .weather .weatherWrap .location {
  font-size: 24px;
  margin: 10px;
  color: white;
  text-align: center;
}

body main .mainPage .weather .weatherWrap .ci {
  font-size: 22px;
  margin: 10px;
  color: white;
  text-align: center;
}

body main .mainPage .weather .weatherWrap .weatherIcon {
  height: 45px;
  margin: 10px;
  text-align: center;
}

body main .mainPage .weather .weatherWrap .weatherIcon button {
  font-size: 18px;
  border-radius: 5px;
}

body main .mainPage .weather .weatherWrap .weatherIcon button:hover span {
  display: block;
}

body main .mainPage .weather .weatherWrap .weatherIcon button span {
  display: none;
}

body main .mainPage .weather .weatherInfo {
  width: 40%;
  background: rgba(11, 55, 173, 0.2);
  border-radius: 10px;
  margin-left: 5px;
  margin-right: auto;
}

body main .mainPage .weather .weatherInfo .currentDate {
  color: white;
  text-align: center;
}

body main .mainPage .weather .weatherInfo .weatherText ul li {
  list-style: none;
  font-size: 20px;
  color: white;
  margin: 5px;
}

body main footer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body main footer .weekWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  margin: auto;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px 10px 0 0;
}

body main footer .weekWeather .dayWeather {
  display: inline-block;
  position: relative;
  margin: auto;
}

body main footer .weekWeather .dayWeather:hover .forecastInfo {
  display: block;
  color: #fff;
}

body main footer .weekWeather .dayWeather .forecastInfo {
  display: none;
  list-style: none;
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 4px 0;
  border-radius: 12px;
}

body main footer .weekWeather .dayWeather img {
  width: 100%;
  height: 50px;
}

body main footer .weekWeather .dayWeather .timeInfo {
  text-align: center;
  position: relative;
}
/*# sourceMappingURL=style.css.map */