@charset "UTF-8";
.mapTheme {
  margin: 50px 50px 20px 20px;
  top: 5%;
}

.mapTheme .mapWrap {
  position: relative;
}

.mapTheme .mapWrap .infoDate {
  position: absolute;
  z-index: 9;
  background: white;
  color: #1C67B1;
  width: 200px;
  text-align: center;
  top: -3%;
  border-radius: 15px;
}

.mapTheme .mapWrap .weatherData {
  /* 各縣市氣象position */
  /* 基隆市 */
  /* 新北市 */
  /* 臺北市 */
  /* 桃園市 */
  /* 新竹縣 */
  /* 新竹市 */
  /* 苗栗縣 */
  /* 臺中市 */
  /* 南投縣 */
  /* 彰化縣 */
  /* 雲林縣 */
  /* 嘉義縣 */
  /* 嘉義市 */
  /* 臺南市 */
  /* 高雄市 */
  /* 屏東縣 */
  /* 臺東縣 */
  /* 花蓮縣 */
  /* 宜蘭縣 */
  /* 澎湖縣 */
  /* 金門縣 */
  /* 連江縣 */
}

.mapTheme .mapWrap .weatherData .iconZone {
  position: absolute;
  display: block;
  text-decoration: none;
}

.mapTheme .mapWrap .weatherData .iconZone:hover {
  z-index: 10;
}

.mapTheme .mapWrap .weatherData .iconZone div {
  display: none;
  z-index: 9;
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 5px;
}

.mapTheme .mapWrap .weatherData .iconZone div span {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: .775rem;
  letter-spacing: 1px;
  font-weight: 700;
  min-width: 60px;
  white-space: nowrap;
  margin: 5px;
}

.mapTheme .mapWrap .weatherData .iconZone div.show {
  display: block;
}

.mapTheme .mapWrap .weatherData .iconZone img {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  -webkit-box-shadow: 3px 3px 10px #00569c;
          box-shadow: 3px 3px 10px #00569c;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 100%;
  z-index: 9;
  position: absolute;
}

.mapTheme .mapWrap .weatherData .iconZone img.hidden {
  display: none;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10017] {
  left: 93%;
  top: 0%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_65000] {
  left: 68%;
  top: 0%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_63000] {
  left: 78%;
  top: -4%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_68000] {
  left: 56%;
  top: 4%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10004] {
  left: 68%;
  top: 20%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10018] {
  left: 48%;
  top: 12%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10005] {
  left: 41%;
  top: 19%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_66000] {
  left: 35%;
  top: 26%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10008] {
  left: 57%;
  top: 42%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10007] {
  left: 28%;
  top: 34%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10009] {
  left: 20%;
  top: 43%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10010] {
  left: 20%;
  top: 53%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10020] {
  left: 45%;
  top: 53%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_67000] {
  left: 16%;
  top: 64%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_64000] {
  left: 24%;
  top: 77%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10013] {
  left: 39%;
  top: 88%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10014] {
  left: 67%;
  top: 77%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10015] {
  left: 87%;
  top: 43%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10002] {
  left: 95%;
  top: 15%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_10016] {
  left: 0%;
  top: 60%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_09020] {
  left: 10%;
  top: 30%;
}

.mapTheme .mapWrap .weatherData .iconZone[name=_09007] {
  left: 15%;
  top: 10%;
}

.mapTheme .mapWrap .twMap {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(100, 136, 235, 0.781));
          filter: drop-shadow(5px 5px 5px rgba(100, 136, 235, 0.781));
  position: relative;
  z-index: 1;
}

.mapTheme .mapWrap .twMap g a {
  stroke: black;
  fill: transparent;
  fill: #CEE9C8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.mapTheme .mapWrap .twMap g a:hover {
  fill: #197AC8;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.mapTheme .mapWrap .twMap g a.click {
  fill: #94C2E6;
}
/*# sourceMappingURL=mapTheme.css.map */